<form method="post" action="{% url 'function_update' form.instance.pk %}" class="js-function-update-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Update function</h4>
  </div>
  <div class="modal-body">
    {% include 'functions/includes/partial_function_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" id='btn-close-modal'>Close</button>
    <button type="submit" class="btn btn-primary">Update function</button>
  </div>
</form>