{% extends 'base.html' %}

{% load static %}

{% block javascript %}
  <script src="{% static 'functions/js/function.js' %}"></script>
{% endblock %}
{% block header %}
  {% include 'functions/includes/header.html' %}
{% endblock %}

{% block content %}
<div class='container '>
  <h1 class="page-header">Functions</h1>

  <p>
    <button type="button" class="btn btn-primary js-create-function" data-url="{% url 'function_create' %}">
      <span class="glyphicon glyphicon-plus"></span>
      New function
    </button> 
  </p>

  <table class="table" id="function-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Publication date</th>
        <th>Type</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% include 'functions/includes/partial_function_list.html' %}
    </tbody>
  </table>

  <div class="modal fade" id="modal-function">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>
</div>
{% endblock %}