{% extends 'base.html' %} 

{% block content %}

<div class='container w-50'>
<div class="d-flex justify-content-center">
  <div class="detail w-75 mt-4">
    <div class="">
      <p class="center-text" style="font-size: 24.5px">
        HubSpot is currently unavailable for some customers
      </p>
    </div>
    <div class="" style="display: flex; margin-bottom: 24px">
      <div class="col-2">Resolved</div>
      <div style="text-align: justify; font-size: 14px">
        Sequence enrollment is now fully accessible. We've identified and
        addressed the root cause of the issue. The incident has been fully
        resolved and Sequence enrollment should be working properly. No data was
        lost. <br />
        <p style="opacity: 0.5">
          Posted 8 months ago. Jun 24, 2023 - 14:42 EDT
        </p>
      </div>
    </div>

    <div class="" style="display: flex; margin-bottom: 24px">
      <div class="col-2">Resolved</div>
      <div style="text-align: justify; font-size: 14px">
        Sequence enrollment is now fully accessible. We've identified and
        addressed the root cause of the issue. The incident has been fully
        resolved and Sequence enrollment should be working properly. No data was
        lost. <br />
        <p style="opacity: 0.5">
          Posted 8 months ago. Jun 24, 2023 - 14:42 EDT
        </p>
      </div>
    </div>

    <div class="" style="display: flex; margin-bottom: 24px">
      <div class="col-2">Resolved</div>
      <div style="text-align: justify; font-size: 14px">
        Sequence enrollment is now fully accessible. We've identified and
        addressed the root cause of the issue. The incident has been fully
        resolved and Sequence enrollment should be working properly. No data was
        lost. <br />
        <p style="opacity: 0.5">
          Posted 8 months ago. Jun 24, 2023 - 14:42 EDT
        </p>
      </div>
    </div>

    <div class="" style="display: flex; margin-bottom: 24px">
      <div class="col-2">Resolved</div>
      <div style="text-align: justify; font-size: 14px">
        Sequence enrollment is now fully accessible. We've identified and
        addressed the root cause of the issue. The incident has been fully
        resolved and Sequence enrollment should be working properly. No data was
        lost. <br />
        <p style="opacity: 0.5">
          Posted 8 months ago. Jun 24, 2023 - 14:42 EDT
        </p>
      </div>
    </div>
    <div>
      <input
        class="p-2"
        style="width: 100%; font-size: 12px"
        type="text"
        placeholder="This incident affected: GA4 Analytics featured"
      />
    </div>
  </div>
</div>
</class>

{% endblock content %}
